<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>W. Michael Jaggers | Page Template</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Full-Stack Front-End Web Developer">
    <meta name="author" content="W. Michael Jaggers">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- FontAwesome JS -->
    <script defer src="assets/fontawesome/js/all.js"></script>

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/flickity/flickity.min.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">

    <!-- Custom CSS Overrides -->
    <link rel="stylesheet" href="assets/css/custom.css">
</head> 

<body>
    
    <header class="header">
	    
        <div class="top-bar theme-bg-primary-darken">
            
            <div class="container-fluid">
            
                <nav class="navbar navbar-expand-lg navbar-dark position-relative">


                    <ul class="social-list list-inline mb-0">
                        <li class="list-inline-item"><a class="text-white" href="https://twitter.com/jaggermeister"><i class="fab fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="text-white" href="https://www.linkedin.com/in/michaeljaggers"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="text-white" href="https://github.com/michaeljaggers"><i class="fab fa-github-alt fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="text-white" href="https://codepen.io/jaggers"><i class="fab fa-codepen fa-fw"></i></a></li>
                    </ul><!--//social-list-->


                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse text-uppercase" id="navigation">
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item mr-lg-3">
                                <a class="nav-link" href="index.html">About</a>
                            </li>
                            <li class="nav-item mr-lg-3">
                                <a class="nav-link" href="projects.html">Projects</a>
                            </li>
                            <li class="nav-item mr-lg-3">
                                <a class="nav-link" href="resume.html">Resume</a>
                            </li>
                            <li class="nav-item mr-lg-3">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item active dropdown mr-0">
                                <a class="nav-link dropdown-toggle" href="#" id="navigationLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages <span class="sr-only">(current)</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right text-capitalize shadow-lg" aria-labelledby="navigationLink">
                                    <a class="dropdown-item" href="links.html">Links</a>
                                </div>
                            </li>

                        </ul>
                        <span id="slide-line"></span>
                    </div>

                </nav>
            
            </div><!--//container-->
            
        </div><!--//top-bar-->
        
        <div class="header-intro theme-bg-primary text-white py-5">
	        <div class="container">
		        <h2 class="page-heading mb-0">PAGE TEMPLATE</h2>
		        
	        </div><!--//container-->
        </div><!--//header-intro-->
        
    </header><!--//header-->
        
    <section class="section py-5">
        <div class="container">
            <div class="row">
		        <div class="page-intro col-lg-10 mx-lg-auto mb-5 text-center">
			      
		        </div><!--//page-intro-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//section-->
    
    <section class="section-cta py-5 bg-primary text-white">
        <div class="container">
            <div class="text-center">
                <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="assets/images/profile.jpg" alt="W. Michael Jaggers Portrait">
            </div>
            <h3 class="section-title font-weight-bold text-center mb-2">Interested in getting to know me?</h3>
            <div class="section-intro mx-auto text-center mb-3">
                Looking for an experienced full-stack developer to build your web-app or ship your software product? To start a conversation, just drop me a line at <a class="link-on-bg" href="mailto:michael.jaggers@gmail.com">michael.jaggers@gmail.com</a> or submit a message <a class="link-on-bg" href="contact.html">on my contact page</a>.
            </div>
            <div class="text-center">
                <a class="theme-btn-on-bg btn" href="contact.html">Let's Chat</a>
            </div>
        </div><!--//container-->
    </section>
    
    <footer class="footer text-light text-center py-3">
        <small class="copyright">Made with&nbsp;&nbsp;&#10084;</small>
    </footer>
       
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/popper.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>    
     
    <!-- Custom JS -->
    <script type="text/javascript" src="assets/js/main.js"></script>
    
</body>
</html> 

