@{
    ViewBag.Title = "Links";
}

<div class="header-intro theme-bg-primary text-white py-5">
    <div class="container">
        <h2 class="page-heading mb-0">@ViewBag.Title</h2>
    </div>
</div>

</header><!--//header-->

<section class="links-section section py-5">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-3">Centriq Comrades</h3>
        <div class="section-intro mx-auto text-center mb-5 text-secondary">Learning full-stack development in a short amount of time is tough.&nbsp;&nbsp;Together we have overcome many obstacles on our journey to find our 'inner dev'.&nbsp;&nbsp;Please take a few moments to explore what they may have to offer.</div>

        <div class="links-blocks mx-auto pt-5">
            <div class="row">
                <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Tyler Rowe</h4>
                        <img class="comrade-photo position-absolute d-inline-block rounded-circle text-center" src="~/Content/assets/images/comrades/Tyler_Rowe.jpg" />
                        <div class="skills-list text-secondary text-center">
                            <div class="mb-2">
                                <a class="comrade-link" href="http://tylerarowe.com/" target="_blank"><i class="fas fa-globe mr-2 text-primary"></i>View Personal Site</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Brandon Smith</h4>
                        <img class="comrade-photo position-absolute d-inline-block rounded-circle text-center" src="~/Content/assets/images/comrades/Brandon_Smith.jpg" />
                        <div class="skills-list text-secondary text-center">
                            <div class="mb-2">
                                <a class="comrade-link" href="http://brandonsmithjr.com/" target="_blank"><i class="fas fa-globe mr-2 text-primary"></i>View Personal Site</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skills-block col-12 col-lg-4">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">James Donnici</h4>
                        <div class="skills-list text-secondary text-center">
                            <div class="mb-2">
                                <a class="comrade-link" href="http://jamesdonnici.com/" target="_blank"><i class="fas fa-globe mr-2 text-primary"></i>View Personal Site</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!--//links-section-->

<section class="section-cta py-5 bg-primary text-white">
    <div class="container">
        <div class="text-center">
            <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="~/Content/assets/images/profile.jpg" alt="W. Michael Jaggers Portrait">
        </div>
        <h3 class="section-title font-weight-bold text-center mb-2">Interested in getting to know me?</h3>
        <div class="section-intro mx-auto text-center mb-3">
            Looking for an experienced full-stack developer to build your web-app or ship your software product?&nbsp;&nbsp;To start a conversation, just drop me a line at <a class="link-on-bg" href="mailto:michael.jaggers@gmail.com">michael.jaggers@gmail.com</a> or submit a message <a class="link-on-bg" href="@Url.Action("Contact", "Home")">on my contact page</a>.
        </div>
        <div class="text-center">
            <a class="theme-btn-on-bg btn" href="@Url.Action("Contact", "Home")">Let's Chat</a>
        </div>
    </div><!--//container-->
</section>