@{
    ViewBag.Title = "Links";
}

    <div class="header-intro theme-bg-primary text-white py-5">
        <div class="container">
            <h2 class="page-heading mb-0">@ViewBag.Title</h2>
            <div class="page-heading-tagline">Sharing the love.</div>
        </div><!--//container-->
    </div><!--//header-intro-->
</header><!--//header-->
<section class="section py-5">
    <div class="container">
        <div class="row">
            <div class=" col-lg-10 mx-lg-auto mb-5 text-center">
                <!-- <img src=""/> -->
            </div>
        </div><!--//row-->
    </div><!--//container-->
</section><!--//section-->
<section class="section-cta py-5 bg-primary text-white">
    <div class="container">
        <div class="text-center">
            <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="~/Content/assets/images/profile.jpg" alt="W. Michael Jaggers Portrait">
        </div>
        <h3 class="section-title font-weight-bold text-center mb-2">Interested in getting to know me?</h3>
        <div class="section-intro mx-auto text-center mb-3">
            Looking for an experienced full-stack developer to build your web-app or ship your software product?&nbsp;&nbsp;To start a conversation, just drop me a line at <a class="link-on-bg" href="mailto:michael.jaggers@gmail.com">michael.jaggers@gmail.com</a> or submit a message <a class="link-on-bg" href="@Url.Action("Contact", "Home")">on my contact page</a>.
        </div>
        <div class="text-center">
            <a class="theme-btn-on-bg btn" href="@Url.Action("Contact", "Home")">Let's Chat</a>
        </div>
    </div><!--//container-->
</section>