@{
    ViewBag.Title = "Resume";
}

    <div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
        <div class="container position-relative">
            <h2 class="page-heading mb-3">@ViewBag.Title</h2>
            <a class="btn theme-btn-on-bg download-resume position-absolute font-weight-bold mx-auto" href="~/Content/files/WMichaelJaggers-Resume.docx" target="_blank"><i class="fas fa-download mr-2" download></i>Download Resume</a>
        </div><!--//container-->
    </div><!--//header-intro-->
</header><!--//header-->
<article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
        <header class="resume-header pt-4 pt-md-0">
            <div class="media flex-column flex-md-row">
                <img class="mr-3 img-fluid picture mx-auto" src="~/Content/assets/images/profile.jpg" alt="W. Michael Jaggers Portrait">
                <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
                    <div class="primary-info">
                        <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">W Michael Jaggers</h1>
                        <div class="title mb-3">Software Engineer</div>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="mailto:michael.jaggers@gmail.com"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>michael.jaggers@gmail.com</a></li>
                            <li><a href="tel:18167871581"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>+1 (816) 787-1581</a></li>
                        </ul>
                    </div><!--//primary-info-->
                    <div class="secondary-info ml-md-auto mt-2">
                        <ul class="resume-social list-unstyled">
                            <li class="mb-3"><a href="https://www.linkedin.com/in/michaeljaggers" target="_blank"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/michaeljaggers</a></li>
                            <li class="mb-3"><a href="https://www.github.com/michaeljaggers" target="_blank"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/michaeljaggers</a></li>
                            <li class="mb-3"><a href="https://codepen.io/jaggers" target="_blank"><span class="fa-container text-center mr-2"><i class="fab fa-codepen fa-fw"></i></span>codepen.io/jaggers</a></li>
                            <li><a href="https://michaeljaggers.com" target="_blank"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>michaeljaggers.com</a></li>
                        </ul>
                    </div><!--//secondary-info-->
                </div><!--//media-body-->
            </div><!--//media-->
        </header>
        <div class="resume-body p-5">
            <section class="resume-section summary-section mb-5">
                <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Summary</h2>
                <div class="resume-section-content">
                    <p class="mb-0">My journey started where running my own ecommerce business really ignited my passion for the web.  Since then I’ve been in the industry for 8 years, honing my skills and bringing value to my clients and employers.  As a previously self-taught programmer I wanted it to be clear to my employers and myself that I am invested in my own future career by taking classes through Centriq to expand my full-stack knowledge adding C#, .NET, and SQL.  My end-goal is to someday to reach a position where my contributions could have a larger impact on a business, potentially helping shape the roadmap of solutions being built for years to come.  I would love the opportunity to speak with you more about how I could contribute to your team.</p>
                </div>
            </section><!--//summary-section-->
            <div class="row">
                <div class="col-lg-9">
                    <section class="resume-section experience-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Experience</h2>
                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">
                                <article class="resume-timeline-item position-relative pb-5">
                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Software Engineer</h3>
                                            <div class="resume-company-name ml-auto">Quest Analytics</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">November 2022 — December 2023</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <ul>
                                            <li>Full-Stack Engineer on an agile scrum team focused on building React SPA web applications in TypeScript used internally by Quest employees</li>
                                            <li>Engineered solutions on a file intake application in .NET (C#) to standardize, check and process documents stored in Azure blob-storage containers</li>
                                            <li>Solutioned GraphQL API query access to receive, send and update SQL Server database data using Entity Framework LINQ queries server-side</li>
                                            <li>Maintained optimal application performance via unit testing practices and troubleshooting bugs as reported</li>
                                            <li>Communicated across teams, worked in multiple Git repositories and helped to develop a system-wide front-end design language</li>
                                            <li>Delivered full-stack solutions as-needed by creating relational database tables and corresponding entities, new application process steps, jobs, and actions and expanding the user interface to satisfy ever-changing requirements</li>
                                        </ul>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML5/CSS3</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">GraphQL</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">TypeScript/React</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">C#/.NET</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">SQL Server</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Unit Testing</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">LINQ</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->
                                </article><!--//resume-timeline-item-->

                                <article class="resume-timeline-item position-relative pb-5">
                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">User Interface Engineer</h3>
                                            <div class="resume-company-name ml-auto">Dealer.com</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">July 2021 — November 2022</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <ul>
                                            <li>Write testable, readable, maintainable, and efficient code</li>
                                            <li>Contribute to the development of our CMS platform</li>
                                            <li>Create custom website templates for large scale clients</li>
                                            <li>Design user-centric websites based off of User Experience studies</li>
                                            <li>Collaborate with developer scrum team members on best practices, code reviews, internal tools and process improvements</li>
                                            <li>Provide guidance and mentorship for new team members and share new technical insight to the greater team</li>
                                            <li>Keep abreast of the latest technologies and techniques within the web development and design fields by working with team members, mentors and by prototyping solutions</li>
                                        </ul>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML5/CSS3</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">APIs</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">JavaScript</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">React</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Git</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Unit Testing</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->
                                </article><!--//resume-timeline-item-->
                                <article class="resume-timeline-item position-relative pb-5">
                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Web Developer II</h3>
                                            <div class="resume-company-name ml-auto">Dealer.com</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">December 2017 — July 2021</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <ul>
                                            <li>Implement advanced changes to DDC sites using various languages</li>
                                            <li>Troubleshoot and research issues usng browser developer tools</li>
                                            <li>Write supporting software on an in-house platform called 'Gopher' to automate implementation tasks</li>
                                            <li>Code-review pull-requests into the 'Gopher' GitHub repository</li>
                                            <li>Implement custom designs from SOW mock-ups within the Dealercom CMS platform</li>
                                            <li>Collaborate in an Agile environment on a bi-weekly cadence with the iDev scrum team, colonel_panic</li>
                                        </ul>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML5/XML</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">CSS3</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">JavaScript</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">jQuery</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Git</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Velocity</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->
                                </article><!--//resume-timeline-item-->
                                <article class="resume-timeline-item position-relative pb-5">
                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Technical Project Manager</h3>
                                            <div class="resume-company-name ml-auto">Dealer.com</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">August 2016 — December 2017</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                    <ul>
                                        <li>Technical Project Manager for the Implementation Development team</li>
                                    </ul>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">MS Office</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Smartsheet</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->
                                </article><!--//resume-timeline-item-->
                                <article class="resume-timeline-item position-relative pb-5">
                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Senior Project Manager</h3>
                                            <div class="resume-company-name ml-auto">Dealer.com</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">July 2016 — August 2016</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                    <ul>
                                        <li>Senior-level website implementation contributor</li>
                                    </ul>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML5</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">CSS3</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Photoshop</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->
                                </article><!--//resume-timeline-item-->
                                <article class="resume-timeline-item position-relative pb-5">
                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Front-End Designer I</h3>
                                            <div class="resume-company-name ml-auto">VinSolutions</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">September 2015 — July 2016</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <ul>
                                            <li>Design, develop, and test HTML and CSS that meet accessibility and web browser standards</li>
                                            <li>Utilize responsive design principles to support usability in desktop, mobile, and tablet environments</li>
                                            <li>Resolve cross-browser layout issues and bugs</li>
                                            <li>Create site mock-ups using Adobe design software</li>
                                            <li>Interpret and convert existing site design and style guides into pixel-perfect web pages from Photoshop mock-ups</li>
                                        </ul>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML5</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">JavaScript</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">CSS3</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">jQuery</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Photoshop</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->
                                </article><!--//resume-timeline-item-->
                                <article class="resume-timeline-item position-relative">
                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Website Technical Operations Specialist</h3>
                                            <div class="resume-company-name ml-auto">VinSolutions</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">September 2014 — March 2015</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <ul>
                                            <li>Member of the Lexus Tier-1 National Accounts support team and platform</li>
                                            <li>Perform Website Account Manager responsibilities for all Lexus accounts</li>
                                            <li>Manage the Salesforce client queue to ensure a 24-hour turnaround time on client requests</li>
                                            <li>Coordinate with multiple departments to ensure quality and timely results to client concerns on deeper platform development needs</li>
                                        </ul>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML5</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">CSS3</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">MS Office</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Salesforce</span></li>
                                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Photoshop</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->
                                </article><!--//resume-timeline-item-->
                            </div><!--//resume-timeline-->
                        </div>
                    </section><!--//experience-section-->
                </div>
                <div class="col-lg-3">
                    <section class="resume-section skills-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
                        <div class="resume-section-content">
                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Front-End</h4>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <div class="resume-skill-name">React</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 94%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">JavaScript</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 96%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>

                                    <li class="mb-2">
                                        <div class="resume-skill-name">TypeScript</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">HTML/CSS/SASS</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 96%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->
                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Back-End</h4>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <div class="resume-skill-name">C#/.NET Framework</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">Node.js</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">SQL</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">APIs</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">WordPress/CMS</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->
                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Others</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Unit Testing</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Wireframing</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Sketch</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Balsamiq</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Photoshop</span></li>
                                </ul>
                            </div><!--//resume-skill-item-->
                        </div><!--resume-section-content-->
                    </section><!--//skills-section-->
                    <section class="resume-section education-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <div class="resume-degree font-weight-bold">Full-Stack Developer Certification</div>
                                    <div class="resume-degree-org">Centriq Training</div>
                                    <div class="resume-degree-time">Jan. 2021 — Sept. 2021</div>
                                </li>
                                <li>
                                    <div class="resume-degree font-weight-bold">High School Diploma</div>
                                    <div class="resume-degree-org">Kearney Senior High</div>
                                    <div class="resume-degree-time">2000 — 2004</div>
                                </li>
                            </ul>
                        </div>
                    </section><!--//education-section-->
                    <!--<section class="resume-section reference-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled resume-awards-list">
                                <li class="mb-2 pl-4 position-relative">
                                    <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                                    <div class="resume-award-name">Award Name Lorem</div>
                                    <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</div>
                                </li>
                                <li class="mb-0 pl-4 position-relative">
                                    <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                                    <div class="resume-award-name">Award Name Ipsum</div>
                                    <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque.</div>
                                </li>
                            </ul>
                        </div>
                    </section>//reference-section-->
                    <!--<section class="resume-section language-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled resume-lang-list">
                                <li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(Native)</small></li>
                                <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">French</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
                                <li><span class="resume-lang-name font-weight-bold">Spanish</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
                            </ul>
                        </div>
                    </section>//language-section-->
                    <section class="resume-section interests-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled">
                                <li class="mb-1">Martial Arts</li>
                                <li class="mb-1">Weight Training</li>
                                <li class="mb-1">Movies</li>
                            </ul>
                        </div>
                    </section><!--//interests-section-->
                </div>
            </div><!--//row-->
        </div><!--//resume-body-->
    </div>
</article>
<section class="section-cta py-5 bg-primary text-white">
    <div class="container">
        <div class="text-center">
            <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="~/Content/assets/images/profile.jpg" alt="">
        </div>
        <h3 class="section-title font-weight-bold text-center mb-2">Interested in getting to know me?</h3>
        <div class="section-intro mx-auto text-center mb-3">
            Looking for an experienced full-stack developer to build your web-app or ship your software product?&nbsp;&nbsp;To start a conversation, just drop me a line at <a class="link-on-bg" href="mailto:michael.jaggers@gmail.com">michael.jaggers@gmail.com</a> or submit a message <a class="link-on-bg" href="@Url.Action("Contact", "Home")">on my contact page</a>.
        </div>
        <div class="text-center">
            <a class="theme-btn-on-bg btn" href="@Url.Action("Contact", "Home")">Let's Chat</a>
        </div>
    </div><!--//container-->
</section>